<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploader</title>
    <%- include(`partials/head`) %>
  </head>
  <body>
    <%- include(`partials/navigation`) %>
    <div class="container">
      <div class="card">
        <form action="">
          <input type="file" id="input-file" hidden />
          <div id="drop-area" class="drop-area">
            <img src="/img/exit.svg" />
            <p>Drag & drop a file or <span>browse files</span></p>
            <a>JPG, PNG or GIF - Max file size 2MB</a>
          </div>
        </form>
      </div>
    </div>

    <script src="/js/darkMode.js"></script>
    <script src="/js/dropDrag.js"></script>
  </body>
</html>
