<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploader</title>
    <%- include(`partials/head`) %>
  </head>
  <body>
    <%- include(`partials/navigation`) %>
    <div class="container">
      <div class="drag-container">
        <div class="drag-area">
          <img src="/img/exit.svg" />
          <a><strong>Drag & drop a file or </strong><strong class="link-browse">browse files</strong></a>
          <span>JPG, PNG or GIF - Max file size 2MB</span>
        </div>
      </div>
    </div>
    <script src="/js/darkMode.js"></script>
  </body>
</html>
