<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand font-image" href="#">
        <img src="/img/logo-small.svg">
        <b>ImageUpload</b>
      </a>
      <button class="btn btn-outline me-md-2 btn-custom" type="button">
        <img src="/img/Moon_fill.svg">
      </button>
    </div>
  </nav>
