<nav class="nav">
  <div class="nav-container">
    <div class="div-logo">
      <a href="#">
        <img src="/img/logo-small.svg" />
      </a>
      <b>ImageUpload</b>
    </div>
    <div class="div-button-theme">
      <button id="button-theme" class="btn-custom">
        <img id="mode-icon" src="/img/Moon_fill.svg" />
      </button>
    </div>

  </div>
</nav>
