*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #F9FAFBCC;
    overflow: hidden;
}

/* NAVIGATION */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #E5E7EB;
}

.nav-container{
    border: 2px #121826;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-container .div-logo span{
    font-size: medium;
    font-weight: 700;
    margin-left: 15px;
}

.div-button-theme{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom{
    width: 45px;
    height: 45px;
    border: 1px solid #E5E7EB;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}


/* CONTENT BODY */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    width: 100%;
}

.card{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 5px;
    height: 280px;
    width: 480px;
    box-shadow: 2px 19px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    display: none;
}

form.dragover{
    border-style: solid;
    font-size: 2rem;
    font-weight: 600;
    color: #E5E7EB;
    background: #F9FAFBCC;
}

.drop-area{
    border: 1px dashed #E5E7EB;
    color: #212936;
    height: 265px;
    width: 465px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: border-color 0.3s;
    background-position: center;
    background-size: cover;
}

.container .card .drop-area p{
    font-family: "Inter", serif;
    font-size: 14px;
    font-optical-sizing: auto;
    margin-top: 20px;
    font-weight: 600;
    color: #212936;
}

.container .card .drop-area span{
    font-family: "Inter", serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #3662E3;
    cursor: pointer;
}

.container .card .drop-area .file-types{
    font-family: "Inter", serif;
    font-size: 12px;
    font-optical-sizing: auto;
    font-weight: 300;
    margin-top: 10px;
}

/* PROGRESS BAR */

#progress-container{
    width: 100%;
    height: 7px;
    background-color: #E5E7EB;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    display: none;
}

@keyframes loading{
    0% {left: -20%;} /* Comienza fuera del container*/
    100% {left: 100%;} /* Termina dentro del container */
}

#loading-bar{
    width: 25%;
    height: 100%;
    background-color: #3662E3;
    position: absolute;
    animation: loading 1s linear infinite; /* Animacion continua */
    border-radius: 15px;
}


/* DARK MODE */

.dark-mode{
    background-color: #121826;
    color: #F9FAFB;
}

.dark-mode .drop-area{
    border: 1px dashed #4D5562;
}

.dark-mode form{
    background-color: #212936;
}

.dark-mode .nav{
    border-bottom: 2px solid #212936;
}

.dark-mode .btn-custom{
    background-color: #4D5562;
}

.dark-mode .container .card .drop-area p{
    color: #E5E7EB;
    font-weight: 300;
}

.dark-mode .container .card .drop-area a{
    font-weight: 120;
    color: #E5E7EB;
}

.dark-mode .container .card .drop-area span{
    color: #3662E3;
}
