*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #F9FAFBCC;
    overflow: hidden;
}

/* NAVIGATION */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #E5E7EB;
}

.nav-container{
    border: 2px #121826;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-container .div-logo span{
    font-size: medium;
    font-weight: 700;
    margin-left: 15px;
}

.div-button-theme{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom{
    width: 45px;
    height: 45px;
    border: 1px solid #E5E7EB;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover{
    background-color: #E5E7EB;
}


/* CONTENT BODY */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    height: calc(100vh - 50px);
    width: 100%;
}

.card-img{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 5px;
    height: 340px;
    width: 540px;
    box-shadow: 2px 19px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-load{
    background-color: #FFFFFF;
    height: 100px;
    width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 5px;
    box-shadow: 2px 19px 30px rgba(0, 0, 0, 0.1);
    gap: 15px;
    font-size: 13px;
    display: none;
}

.card-button{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    display: none;
}

form.dragover{
    border-style: solid;
    font-size: 2rem;
    font-weight: 600;
    color: #E5E7EB;
    background: #F9FAFBCC;
}

.drop-area{
    border: 1px dashed #E5E7EB;
    color: #212936;
    height: 325px;
    width: 525px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: border-color 0.3s;
    background-position: center;
    background-size: cover;
}

.container .card-img .drop-area p{
    font-family: "Inter", serif;
    font-size: 14px;
    font-optical-sizing: auto;
    margin-top: 20px;
    font-weight: 600;
    color: #212936;
}

.container .card-img .drop-area span{
    font-family: "Inter", serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #3662E3;
    cursor: pointer;
}

.container .card-img .drop-area .file-types{
    font-family: "Inter", serif;
    font-size: 12px;
    font-optical-sizing: auto;
    font-weight: 300;
    margin-top: 10px;
}

/* PROGRESS BAR */

#progress-container{
    width: 330px;
    height: 7px;
    background-color: #E5E7EB;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

@keyframes loading{
    0% {left: -20%;} /* Comienza fuera del container*/
    100% {left: 100%;} /* Termina dentro del container */
}

#loading-bar{
    width: 25%;
    height: 100%;
    background-color: #3662E3;
    position: absolute;
    animation: loading 1s linear infinite; /* Animacion continua */
    border-radius: 15px;
}

.container-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-buttons button{
    background-color: #3662E3;
    border-radius: 5px;
    border: none;
    color: #E5E7EB;
    height: auto;
    width: auto;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: none;
}

.container-buttons button:hover{
    background-color: #4A8BF4;
}

.container-buttons button img{
    padding-right: 5px;
}

/* DARK MODE */

.dark-mode{
    background-color: #121826;
    color: #F9FAFB;
}

.dark-mode .drop-area{
    border: 1px dashed #4D5562;
}

.dark-mode .card-img{
    background-color: #212936;
}

.dark-mode .nav{
    border-bottom: 2px solid #212936;
}

.dark-mode .btn-custom{
    background-color: #4D5562;
}

.dark-mode .container .card-img .drop-area p{
    color: #E5E7EB;
    font-weight: 300;
}

.dark-mode .container .card-img .drop-area a{
    font-weight: 120;
    color: #E5E7EB;
}

.dark-mode .container .card-img .drop-area span{
    color: #3662E3;
}

.dark-mode .btn-custom:hover{
    background-color: #212936;
}
