*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #F9FAFBCC;
}

span{
    font-size: 10px;
}

#header {
    overflow: hidden;
}
.nav-container{
    border: 2px #121826;
    height: 80px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}
.nav li a{
    display: block;
    color: #121826;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-area{
    border: 1px dashed #E5E7EB;
    height: 265px;
    width: 465px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drag-container{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 5px;
    height: 280px;
    width: 480px;
    box-shadow: 2px 19px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom{
    width: 45px;
    height: 45px;
    border: 1px solid #E5E7EB;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.font-image{
    font-size: 13px;
}

.link-browse{
    color: rgb(29, 95, 180);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E5E7EB;
}
.div-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-button-theme{
    display: flex;
    justify-content: center;
    align-items: center;
}
b{
    margin-left: 15px;
}